<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
        <title>ansible-roles test</title>
</head>
<body>
        <p><center> 윤순상 </center></p>
        <p><center> NGINX NUMBER : {{idx}}/{{nu}} </center></p>
        <p><center> dist: {{ ansible_distribution }} </center></p>
        <p><center> pub: {{ ansible_default_ipv4.address }} </center></p>
        <p><center> pri: {{ ansible_eth1.ipv4.address }} </center></p>
</body>
</html>
